<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MOMOKJI</title>

    <base href="../public/">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/footer.css">

    <script src="js/index.js"></script>
    <script src="js/Ingredient.js"></script>
    <script src="js/Food.js"></script>
    <script src="js/classification.js"></script>
    <script src="js/ingredients.js"></script>
    <script src="js/situdation.js"></script>
    <script src="js/country.js"></script>
</head>
<body data-state="pending">
    <header>
        <a class="header-logo" href="views/index.html">MOMOKJI</a>
    </header>
    <main role="main">
        <ul class="category" data-depth="0">
            <li>
                <button>분류별</button>
            </li>
            <li>
                <button>식재료별</button>
            </li>
            <li>
                <button>상황별</button>
            </li>
            <li>
                <button>나라별</button>
            </li>
        </ul>
    </main>
    <footer>
        <p><a href="mailto:jinpill.93@gmail.com">jinpill.93@gmail.com</a></p>
        <p>COPYRIGHT 2021. MOMOKJI. ALL RIGHT RESERVED.</p>
    </footer>
</body>
</html>